html, body {
  height: 100%;
  width: 100%;
}

/* landing page */

nav {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.landing {
  text-align: center;
}

.landContainer {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.Employee, .Employer {
  margin: 40px;
  font-size: 30px;
  
}









/* employee jobs */

/* favorites */

/* employer hires */

/* post */



